# Object files
*.o
*.d
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Build directories 
build/

# Example files
examples/*

# Help scripts
utils/pintos-mkdisk
utils/pintos-gdb
utils/backtrace
utils/qemu
utils/setitimer-helper
